# Python virtual environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc

# Streamlit secrets (VERY IMPORTANT)
.streamlit/

# macOS system files
.DS_Store

# Documentation / Large files
*.pdf
*.md